* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1600px;
    margin: 0 auto;
    height: 10000px;
}

h1 {
    font-weight: 700;
    font-size: 64px;
}

header.header {
    height: 744px;
    background: url('./assets/img/header-bg.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__socials {
    max-width: 170px;
    width: 100%;
    margin: 183px auto 0 auto;
}

.header__socials svg:hover {
    stroke: #00AFDB;
    cursor: pointer;
}

.header__socials svg:hover circle {
    stroke: #00AFDB;
}

.header__socials ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.btn {
    width: 184px;
    height: 46px;
    background: #00AFDB;
    border: none;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 19px -5px rgba(0, 175, 219, 0.46);
    -moz-box-shadow: 0px 10px 19px -5px rgba(0, 175, 219, 0.46);
    box-shadow: 0px 10px 19px -5px rgba(0, 175, 219, 0.46);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 750px;
    margin-top: 155px;
}

.header__content h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4.5px;
    text-align: center;
}

.header__content p {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    max-width: 504px;
    text-align: center;
    line-height: 140%;
    margin-top: 22px;
}

.header__content button {
    margin-top: 28px;
}

.header nav {
    width: auto;
    padding: 25px 518px 0 503px;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    max-width: 582px;
    width: 100%;
    justify-content: center;
}

.header nav ul li {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    position: relative;
}

.header nav ul li:nth-child(1) {
    margin-right: 85px;
}

.header nav ul li:nth-last-child(1) {
    margin-left: 85px;
}

.header nav ul li.header__main-logo {
    margin: 0 100px;
}

.header nav ul li.active a {
    font-weight: 500;
    color: #fff;
    opacity: 1;
}
.header nav ul li.active a:before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -1px;
    background: #fff;
    height: 1px;
    left: 0;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
}
.header nav ul li a:hover {
    opacity: 1;
}

.header nav ul li a:hover:before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -1px;
    background: #fff;
    height: 1px;
    left: 0;
}